<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Location</a></li>
            <li><a href="#">Branch</a></li>
            <li><a href="#">Customer</a></li>
            <li><a href="#">Booking</a></li>
            <li><a href="#">Alert</a></li>
            <li><a href="#">Pickup</a></li>
            <li><a href="#">Transport</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Track</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">logout</a></li>
          </ul>
        </div>
      </nav>
      <center>
        <caption>User Details</caption>
        <table border="2">
    
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Location ID</th>
                <th>Location Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for User in data %}
                <tr>
                    <td>{{User.id}}</td>
                    <td>{{User.locationid}}</td>
                    <td>{{User.locationname}}</td>
                    <td>{{User.description}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
</body>
</html>